@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.text-container {
    display: flex;
    align-items: center;
}

.text {
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    padding: 0 10px;
}

.swiper-button-next
{
    margin-left: auto;
}
.swiper-button-prev {
    display: flex;
    align-items: center;
    gap: 0px; 
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.slide-container {
    max-width: 1800px;
    width: 100%;
    padding: 200px 0;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.slide-content {
    margin: 0 40px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-image a {
    text-decoration: none;
}

.swiper-navBtn {
    color: #f74f10;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #f74f10;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #f74f10;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #f74f10;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding-left: 50px;
    }
}

@media screen and (min-width: 769px) {
    .swiper-button-next,
    .swiper-button-prev {
     padding-left: 750px;
    }
    
}
