* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.Header {
    text-align: center;
   
}

body {
    background-color: black;
    color: white;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px; 
    justify-content: center;
    align-content: center;
    padding-top: 200px; 
    /* max-width: 2000px; */
    margin: 0 auto;
}

.item {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.item img {
    max-width: 100%; 
    max-height: 400px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item .details {
    text-align: left;
    padding: 10px; 
}

.item h2 {
    color: #f74f10;
    font-size: 1rem;
    margin: 10px 0;
}

.item p {
    color: #635e5c;
    margin-bottom: 10px;
}

.item button {
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s, transform 0.3s;
}

.item button:hover {
    background: linear-gradient(to bottom right, #8a3313, #f74f10 40%);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .shop-container {
        padding-top: 50px;
        grid-template-columns: repeat(2, 1fr); /* Adjusted to use fractional units */
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .shop-container {
        padding-top: 50px;
        grid-template-columns: repeat(2, 1fr); /* Adjusted to use fractional units */
        max-width: 100%;
    }
}
