@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

nav {
    max-width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
    z-index: 1000;
    animation: slideInLeft 1.5s ease-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.1s ease;
}

.logo img {
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.links a::after {
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #f74f10;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.search {
    position: relative;
}

.search i {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.search i:hover {
    color: #f74f10;
}

.search input {
    display: none;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.search input:focus {
    display: inline-block;
    width: 150px;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
    animation: slideInLeft 1s ease-out;
}

.main-content {
    max-width: 600px;
    text-align: center;
}

#slideInTyping {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation:
        typing 3.5s steps(40, end) forwards,
        blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.main-content h1,
h2,
h4,
p {
    animation: slideInLeft 1s ease-out;
}

.main-content h1,
h2 {
    font-size: 20px;
}

.main-content h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2 {
    color: #f74f10;
    font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}

.main-content p {
    margin-top: 10px;
    color: #635e5c;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.order h3 {
    font-size: 30px;
}

.order button {
    min-width: 45%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: 0.3s linear;
}

.order button:hover {
    box-shadow: none;
    background: linear-gradient(to bottom right, #8a3313, #f74f10 40%);
    transform: scale(1.1);
}

@keyframes aura {
    0% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 10px red;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.image img {
    max-width: 100%;
    width: 100%;
    z-index: -99;
    /* transform: rotate(40deg); */
    /* animation: aura 3s ease-in-out infinite;  */
}

footer {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 30px 20px;
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-border {
    border-top: 1px solid white;
    width: 80%;
    padding-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.Header {
    font-weight: bold;
    margin-bottom: 20px;
}

.Header a {
    color: white;
    text-decoration: none;
}

.Header i {
    margin-right: 8px;
}

.Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.Menu a:hover {
    color: #f74f10;
}

.copy {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    width: 100%;
}

.copy a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.copy a:hover {
    color: #f74f10;
}

.Guides {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .navbarMobile {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0; /* To slide in from the right */
        z-index: 999;
        width: 300px;
        height: 100vh; /* Full height */
        background-color: rgb(0, 0, 0);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: transform 0.75s ease-out;
    }

    /* Show mobile navbar when active */
    .navbarMobile.active {
        display: flex;
        transform: translateX(0);
    }

    /* Style links in mobile navbar */
    .navbarMobile a {
        text-align: center;
        text-decoration: none;
        padding: 15px 20px; /* Add some padding for better spacing */
        width: 100%; /* Make links take full width */
        color: black;
    }

    nav {
        position: static; /* Reset position */
    }

    .logo {
        width: 50px;
    }
    .links {
        display: none;
    }

    .search {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .main-content h1,
    .main-content h2 {
        font-size: 45px;
    }

    .main-content p {
        font-size: 15px;
    }

    .order {
        font-size: 16px;
        padding: 0 0px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-section {
        font-size: 15px;
    }

    .footer-border {
        border-top: 1px solid white;
        width: 100%;
        padding-top: 20px;
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .Menu {
        display: none;
    }

    .hamburger {
        width: 45px;
        height: 45px;
    }

    .Guides {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .arrow-down {
        width: 20px;
        height: 20px;
    }

    .copy {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {

    .navbarMobile {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0px; /* Initially outside the viewport */
        z-index: 9999;
        width: 170px;
        height: 100%; /* Full height of the viewport */
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: right 0.75s ease-out; /* Transition the right property */
    }

    /* Show mobile navbar when active */
    .navbarMobile.active {
        right: 0; /* Slide in from the right */
    }

    /* Style links in mobile navbar */
    .navbarMobile a {
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding: 20px;
        padding-top: 100px;
        width: 100%;
        color: black;
        display: block;
    }

    .img {
        z-index: 0;
    }

    .cross {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 20px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        cursor: pointer;
        z-index: 10000; /* Ensure it is on top */
        margin-bottom: 20px;
    }

    /* Style links in mobile navbar */
    .navbarMobile a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-top: 30px;
        justify-content: flex-start;
        color: #fff;
    }

    .navbarMobile a:hover {
        color: #f74f10;
    }

    .border {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        width: 80%;
        margin: auto;
    }

    .login {
        width: 30px;
        height: 30px;
        top: 50px; 
    }

    .logo {
        width: 50px;
    }
    .links {
        display: none;
    }

    .search {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .main-content h1,
    .main-content h2 {
        font-size: 65px;
    }

    .main-content h4,
    .main-content p {
        font-size: 18px;
    }

    .order {
        font-size: 16px;
        padding: 0 0px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-section {
        font-size: 15px;
    }

    .footer-border {
        border-top: 1px solid white;
        width: 100%;
        padding-top: 20px;
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .Menu {
        font-size: 13px;
    }

    .hamburger {
        width: 45px;
        height: 45px;
    }

    .Guides {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .arrow-down {
        width: 20px;
        height: 20px;
    }

    .copy {
        display: flex;
        font-size: 12px;
    }
}

@media (min-width: 1300px) {
    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px;
    }

    .main-content h1,
    .main-content h2 {
        font-size: 65px;
    }

    .main-content h4,
    .main-content p {
        font-size: 18px;
    }

    .order {
        font-size: 16px;
        padding: 0 0px;
    }
}

@media (max-width: 1024px) {
    nav {
    }

    .logo {
        width: 50px;
    }
    .links {
        display: none;
    }

    .search {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .main-content h1,
    h2 {
        font-size: 65px;
    }

    .main-content,
    h4,
    p {
        font-size: 18px;
    }

    .order {
        font-size: 16px;
        padding: 0 0px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-section {
        font-size: 15px;
    }

    .footer-border {
        border-top: 1px solid white;
        width: 100%;
        padding-top: 20px;
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .Menu {
        font-size: 13px;
    }

    .hamburger {
        width: 45px;
        height: 45px;
    }

    .Guides {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .arrow-down {
        width: 20px;
        height: 20px;
    }

    .copy {
        display: flex;
        font-size: 12px;
    }
}

@media (min-width: 1300px) {
    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px;
    }

    .main-content h1,
    h2 {
        font-size: 65px;
    }

    .main-content,
    h4,
    p {
        font-size: 18px;
    }

    .order {
        font-size: 16px;
        padding: 0 0px;
    }
}
